page-trening{

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 45%;
    font-weight: bold;
    color: #fff;
    background-color: #7F5F5F;
  }
}
