.toolbar-background {
  background-color: #e64a19;
  color: white;
}

.toolbar-title {
  color: white;
}

.card {
  text-align: center;
  color: #342E37;
}

.bakgrunn {
  background-color: Primary;
}
